@import "reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* color */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(210, 8%, 5%);

  --black-025: hsl(210, 8%, 97.5%);
  --black-050: hsl(210, 8%, 95%);
  --black-075: hsl(210, 8%, 90%);
  --black-100: hsl(210, 8%, 85%);
  --black-150: hsl(210, 8%, 80%);
  --black-200: hsl(210, 8%, 75%);
  --black-300: hsl(210, 8%, 65%);
  --black-350: hsl(210, 8%, 60%);
  --black-400: hsl(210, 8%, 55%);
  --black-500: hsl(210, 8%, 45%);
  --black-600: hsl(210, 8%, 35%);
  --black-700: hsl(210, 8%, 25%);
  --black-750: hsl(210, 8%, 20%);
  --black-800: hsl(210, 8%, 15%);
  --black-900: hsl(210, 8%, 5%);

  --add-bg: hsl(216, 45%, 98%);
  --checkbox: hsl(217, 51%, 49%);
  --blue-btn: hsl(217, 100%, 61%);
  --blue-btn-hover: hsl(217, 100%, 52%);
  --blue-btn-active: hsl(217, 100%, 45%);
  --mint-btn: hsl(181, 74%, 46%);
  --mint-btn-hover: hsl(181, 87%, 39%);
  --mint-btn-active: hsl(181, 94%, 33%);

  --thumbnail-bg-1: hsl(210, 18%, 80%);
  --thumbnail-bg-2: hsl(351, 70%, 88%);
  --thumbnail-bg-3: hsl(170, 48%, 81%);
  --thumbnail-bg-4: hsl(216, 67%, 87%);
  --level-bg-1: hsl(210, 10%, 41%);
  --level-bg-2: hsl(350, 75%, 60%);
  --level-bg-3: hsl(170, 52%, 44%);
  --level-bg-4: hsl(216, 64%, 53%);
}
